form{
    margin-top: 40px;
    width: 80vw;
    padding: 10px;
    border-radius: 4px;
    background: white;
}
textarea{
    resize: none;
}
.list{
    width: 80vw;
    margin: auto;
    margin-top: 450px;
    margin-bottom: 30px;
}
.button{
    margin-bottom: 30px;
    text-align: center;
}